<div class="span-17 colborder bottom-5">
  <div class="span-8">
    <%= h(time.work) %><br/>
    <span class="quiet"><%= link_to(h(time.user.name), project_simple_times_path(Project.current, params.only(:c).merge(:u => time.user))) %></span>
  </div>
  <div class="span-6">
    <%= h(time.hours.to_s) %><br/>
    <span class="quiet"><%= h(datetime_format(time.created_at)) %></span>
  </div>
  <div class="span-3 actions last">
    <% if permitted?(:simple_times, :update) -%>
      <%= link_to _('Edit'), edit_project_simple_time_path(Project.current, time) %><br/>
    <% end -%>
    <% if permitted?(:simple_times, :delete) -%>
      <%= link_to _('Delete'), project_simple_time_path(Project.current, time), options_for_destroy_link %>
    <% end -%>
  </div>
</div>